@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Poppins', sans-serif;
    background-color: rgb(15 23 42 ) ;
    color: rgb(148 163 184);
};
}
.container{
    display: flex;
    gap: 20px;
    width: 100%;
}

aside{
    height: 100vh;
    width: 45vw;
    display: flex;
    gap: 30px;
    align-items: flex-start;
    flex-direction: column;
    position: fixed;
    left: 0;
    bottom: 0;
    top: 0;
    padding: 120px 80px 0 80px;
    overflow: auto;
    background-color: rgb(15 23 42 );
}

.aside-title h1{
    font-size: 42px;
    color: white;
}
.aside-title .career{
    font-size: 20px;
    margin: 5px 0;
    color: white;
}
.aside-title .sub-title{
    font-size: 16px;
    color: rgb(148 163 184);
    margin-top: 15px;
    width: 300px;
}
.aside-nav {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    margin: 25px 0;
}
.aside-nav a{
    color: rgb(148 163 184);
    text-decoration: none;
    font-size: 16px;
    display: flex;
    align-items: center;
    width: 300px;
    transition: all 0.3s ease;
}
.aside-nav a .line{
    height: 2px;
    width: 50px;
    background-color: rgb(148 163 184);
    margin-right: 5px;
    transition: all 0.3s ease;
}
.aside-nav a:hover{
    color: white;
    font-size: 18px;
}
.aside-nav a:hover .line{
    width: 80px;
}
.aside-icon{
    display: flex;
    gap: 20px;
}
.aside-icon a{
    text-decoration: none;
    color: rgb(148 163 184);
    font-size: 25px;
    transition: all 0.3s ease;
}
.aside-icon a:hover{
    color: white;
    font-size: 21px;
}
main{
    max-width: 45vw;
    overflow: auto;
    margin-left: 45vw;
    height: 100%;
    color: rgb(148 163 184);
}
main #about{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 120px;
    margin-bottom: 120px;
    line-height: 1.6;
}
#experience{
    display: flex;
    flex-direction: column;
    gap: 30px;
    font-size: 16px;
}
#experience div{
    display: flex;
    gap: 20px;
}
#experience div .container{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}
#experience div .container .ex-title{
    color: white;

}
#experience div .container .ex-lang{
    display: flex;
    gap: 10px;
}
#experience div .container .ex-lang li{
    list-style: none;
    padding: 1px 15px;
    color: rgb(8, 206, 206);
    background-color: rgb(5, 60, 62); 
    border-radius: 20px;
}
#experience div .date{
    width: 30%;
}